.divanh
{
    height: 1000px;
    width: 100%;
    z-index: auto;
    position: absolute;
}
.divcenter 
{
    height: 1000px;
    width: 75%;
    z-index: 1;
    background-color: white;
    position: absolute;
    margin: 0px 10% 0px 10%;
    max-width: 1800px;
}
.section1
{
    height: 200px; 
    width: 100%; 
    border-radius: 5px; 
    margin-top: 10px;
}

.section2
{
    margin: 15px 15px 0px 15px; 
    /* float: left;  */
    width: 99%; 
    height: 450px; 
    background-color: white;
}

.section3
{
    height: 90px;
    width: 97%;
    margin: 0px 20px 0px 20px;
    background-color: rgb(248, 242, 242);
    color: rgb(177, 152, 152);
    text-align: center;
    border: 2px solid rgb(196, 183, 183); 
    border-radius: 5px; 
    float: left;
  
}

.section3 p{margin-top: 6px;}
.div1
{
    height: 400px; 
    width: 30%; 
    float: left; 
    border: 1px solid rgb(223, 216, 216); 
    border-radius: 5px; 
    margin: 20px;
}

.div1_1
{
    background-color: rgb(243, 234, 234); 
    font-weight: bold; 
    font-size: 20px; 
    color: blue; 
    width: 100%; 
    height: 50px;
}

.div1_1_1
{
    line-height: 40px; 
    margin-left: 15px;
}

.div1_1_2
{
    height: 300px; 
    width: 95%; 
    background-color: white; 
    margin-top: 10px;
}

.div1 li{margin-left:20px}
.div1 a{ color: blue; text-decoration: none;}
.div1 ul li:hover{color: red;}
.div1 h3{color: blue; font-weight: bold; margin-left: 15px;}

.anh{height: 110px; width: 150px; float: left; margin: 10px;}
.banner{width:97% ;height: 200px; border-radius: 5px; margin: 6px 20px 0px 20px;}